
    <!--==============HEADER==============-->
    
    <div class="bg">
        <img src="/svg/circle.svg" class = "circle-1" alt="" onload="SVGInject(this)">
        <img src="/svg/circle.svg" class = "circle-2" alt="" onload="SVGInject(this)">

    </div>