<header>
    <!--==============NAVBAR DESKTOP==============-->
    <nav class="navbar ">
        <div class="navbar-item-1"> 
            <a href="/" class="logo">
                <img src="/svg/CIC.svg"  alt="" onload="SVGInject(this)">
            </a>
        </div>
        
        <div class="navbar-item-2">
            <ul>
                <li class="mr-4 link"><a href="/notAvailable">Publicações</a></li>
                <li><a href="/signin" class="btn-navbar">Entrar</a></li>
            </ul>
        </div>
    </nav>
</header>