{{>public/partials/head}}
{{>public/partials/bg-circles}}
<!--==============HERO==============-->
<main >
    <h1 class="color-primary mb-2">Não encontramos :cu(</h1>
            <ul class="edition my-5">
                <li class="mb-1">
                    <p>
                        Acho que essa página não existe, tente alterar a url!
                    </p> 
                </li>
                
            </ul>
</main>

{{>public/partials/body-end}}