{{>partials/header}}
</header>
<div class="container error404" >
    <main>
        <div class="sorry">
            <i class="fa-solid fa-lock"></i>
            <span>Desculpe, você não possui as credenciais para acessar essa página!</span>
        </div>
    </main>
</div>
</body>
</html>