{{>partials/admin/header}}
</header>
    <main class="container center-w">
        <section class="section-width-small center-w">
            <div class="start">
                <a class="btns-inline btn-danger margin-bottom-small" href="/">&larr; Voltar</a>
                <h1 class="margin-bottom-small">Resetar senha</h1>
            {{#notify_success}}
                <div class="margin-bottom-small notify notify-success">
                    {{notify_success}}
                </div>
            {{/notify_success}} 
            {{#notify_error}}
                <div class="margin-bottom-small notify notify-danger">
                    {{notify_error}}
                </div>
            {{/notify_error}}
            </div>
            <form method="POST" action="/resetPassword">
                <label>
                    CPF
                    <input {{#formErrors.cpf.msg}}class="error-label"{{/formErrors.cpf.msg}} 
                    type="text"
                    name="cpf" 
                    placeholder="Digite seu CPF" 
                    value="{{values.cpf}}"
                    >
                    {{#formErrors.cpf.msg}}
                    <span class="error-msg">{{formErrors.cpf.msg}}</span>
                    {{/formErrors.cpf.msg}}
                </label>
                <label>
                    e-mail
                    <input {{#formErrors.email.msg}}class="error-label"{{/formErrors.email.msg}} 
                    type="email"
                    name="email" 
                    placeholder="Digite seu e-mail" 
                    value="{{values.email}}"
                    >
                    {{#formErrors.email.msg}}
                    <span class="error-msg">{{formErrors.email.msg}}</span>
                    {{/formErrors.email.msg}}
                </label>
                <div class="btns">
                    <input class="btn btn-blue" type="submit" value="Resetar">
                </div>
            </form>
        </section>
    </main>
</body>
</html>
<script>
        document.querySelector('.back').href = document.referrer
</script>