{{>partials/header}}
{{>partials/header-menu}}
{{#notify_success}}
<div class="notify-float-success" onclick="javascript:this.style.display = 'none'">
    <span>{{success}}</span>
    <i  class="fa-solid fa-xmark"></i>
</div>
{{/notify_success}}
{{#notify_error}}
<div class="notify-float-error" onclick="javascript:this.style.display = 'none'">
    <span>{{error}}</span>
    <i  class="fa-solid fa-xmark"></i>
</div>
{{/notify_error}}
<div class="container display-flex">
    {{>partials/admin/aside-menu}}
    <main class="section-width-large">  
        <section>
            <div class="start">
                <div class="title margin-bottom-small">
                    <h1>ÁREAS PARA AVALIAÇÃO</h1>
                </div>
            </div>
            <div class="list">
                <ul>
                    {{#subareaList}}
                    <li>
                        <a href="/user/reviewer/subareas/{{title}}" class="a-card">
                            <div class="title">{{title}}</div>
                            <div class="info">
                                <div class="unique-info">
                                    {{qnt}}
                                </div>
                            </div>
                        </a>
                    </li>
                    {{/subareaList}}
                    
                </ul>
            </div>
            {{^subareaList}}
            <div class="sorry sorry-center">
                <i class="fa-solid fa-clock-rotate-left"></i>
                <span>Não há resumos para avalição. Volte depois!</span>
            </div>
            {{/subareaList}}
        </section>
        
        
    </main>
</div>
</body>
<script>
//change color of li status
let q = document.querySelectorAll(".status ul li");
    q.forEach(element => {
        let status = element
        switch (status.innerHTML) {
            case "Resumo pendente":
            case "Pôster aguardando checkin":
                status.classList.add("btn-danger");
                break
            case "Resumo aguardando avaliação":
            case "Pôster aguardando avaliação":
                status.classList.add("btn-warning")
                break;
            case "Resumo em avaliação":
            case "Pôster em avaliação":
                status.classList.add("btn-green")
                break;
            case "Resumo avaliado":
            case "Pôster avaliado":
                status.classList.add("btn-blue")
                break;
            default:
                break;
        }
    });
//show or close notifications
    setTimeout(() => {
       if (document.querySelector(".notify-float-error") ) {
        document.querySelector(".notify-float-error").style.display = "none" 
       } 
        if (document.querySelector(".notify-float-success")) {
            document.querySelector(".notify-float-success").style.display = "none" 
        }
        
    }, "5000")  
</script>
</script>
</html>