{{>partials/admin/header}}
</header>
    <main class="container center-w">
        <section class="section-width-small center-w">
            <div class="start">
            <a class="btns-inline btn-danger margin-bottom-small" href="/">&larr; Voltar</a>
            <h1 class="margin-bottom-small">Cadastro de Avaliador</h1>
            {{#notify_error}}
                <div class="margin-bottom-small notify notify-danger">
                    {{notify_error}}
                </div>
            {{/notify_error}}
            </div>
            <form method="POST" action="/signupReviewer">
                <label>
                    CPF
                    <input {{#formErrors.cpf.msg}}class="error-label"{{/formErrors.cpf.msg}} 
                    type="text"
                    name="cpf" 
                    placeholder="Digite seu CPF" 
                    value="{{values.cpf}}"
                    >
                    {{#formErrors.cpf.msg}}
                    <span class="error-msg">{{formErrors.cpf.msg}}</span>
                    {{/formErrors.cpf.msg}}
                </label>
                <label>
                    Nome completo
                    <input {{#formErrors.name.msg}}class="error-label"{{/formErrors.name.msg}} 
                    type="text"
                    name="name" 
                    placeholder="Digite seu nome completo" 
                    value="{{values.name}}"
                    >
                    {{#formErrors.name.msg}}
                    <span class="error-msg">{{formErrors.name.msg}}</span>
                    {{/formErrors.name.msg}}
                </label>
                <label>
                    e-mail
                    <input {{#formErrors.email.msg}}class="error-label"{{/formErrors.email.msg}} 
                    type="email"
                    name="email" 
                    placeholder="Digite seu e-mail" 
                    value="{{values.email}}"
                    >
                    {{#formErrors.email.msg}}
                    <span class="error-msg">{{formErrors.email.msg}}</span>
                    {{/formErrors.email.msg}}
                </label>
                <div class="legenda">
                    Vínculo institucional
                </div>
                {{#formErrors.vinculo_institucional.msg}}
                <span class="error-msg">{{formErrors.vinculo_institucional.msg}}</span>
                {{/formErrors.vinculo_institucional.msg}}
                <div class="selectInput {{#formErrors.vinculo_institucional.msg}}error-label{{/formErrors.vinculo_institucional.msg}}">
                    <select name="vinculo_institucional">
                        <option value=""></option>
                        <option value="UNB">UNB</option>
                        <option value="UNICEUB">UNICEUB</option>
                        <option value="UDF">UDF</option>
                        <option value="UCB">UCB</option>
                        <option value="IESB">IESB</option>
                        <option value="IFG-AGUAS_LINDAS">IFG-AGUAS_LINDAS</option>
                        <option value="IFB">IFB</option>
                        <option value="ESCS">ESCS</option>
                    </select>
                </div>
                <label>
                    Senha
                    <input {{#formErrors.password.msg}}class="error-label"{{/formErrors.password.msg}} 
                    type="password"
                    name="password" 
                    placeholder="Digite sua senha" 
                    value=""
                    required
                    >
                    {{#formErrors.password.msg}}
                    <span class="error-msg">{{formErrors.password.msg}}</span>
                    {{/formErrors.password.msg}}
                </label>
                <div class="btns">
                    <input class="btn btn-blue" type="submit" value="Cadastrar">
                </div>
            </form>
        </section>
    </main>
</body>
</html>
