    <!--==============FOOTER===============-->
    <footer>
        <div class="logo-footer">
            <a href="">
                <img src="/svg/logo-CIC.svg" alt="Logo do Congresso de Iniciação Científica" onload="SVGInject(this)">
            </a>
        </div>
        <div class="institutions">
            <h5>Instituições organizadoras</h5>
            <ul>
                <li><a href="">FAP-DF</a></li>
                <li><a href="">CNPq</a></li>
                <li><a href="">IFG - Câmpus Águas Lindas</a></li>
                <li><a href="">IFB</a></li>
                <li><a href="">UnB</a></li>
                <li><a href="">UDF</a></li>
                <li><a href="">IESB</a></li>
                <li><a href="">CEUB</a></li>
                <li><a href="">UCB</a></li>
                <li><a href="">ESCS</a></li>
            </ul>
        </div>
        <div>
            <h5>Links úteis</h5>
            <ul>
                <li><a href="">Publicações/Anais</a></li>
                <li><a href="">SGCIC - Sistema de Submissão</a></li>
            </ul>
        </div>
    </footer>