<header>
    <!--==============NAVBAR DESKTOP==============-->
    <nav class="navbar ">
        <div class="navbar-item-1"> 
            <div class="three-bars-menu">
                <a class="menu-icon">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </a>
                <ul class="">
                    <li class="three-bars-menu-item"><a href="/user/reviewer/articles/{{year}}" class="nav-link-menu">Pôsteres para avaliação</a></li>
                </ul>
            </div>
        </div>
        
        <div class="navbar-item-2">
            <a href="/signout"><img style="width: 22px;" src="/svg/logout.svg"  alt="" onload="SVGInject(this)"></a>
        </div>
    </nav>
</header>