{{>public/partials/head}}
{{>public/partials/bg-circles}}
<!--==============HERO==============-->
<main>
    <div class="time-line  " style="height: 100vh; padding-top:0; padding-bottom:0">
        <div class="time-line-content ">
            <h1 class="color-primary mb-2">Não encontramos :(</h1>
            <ul class="edition my-5">
                <li class="mb-1">
                    <p>
                        Acho que essa página não existe.
                    </p> 
                </li>
                <li><p>Tente alterar a url!</p></li>
                
            </ul>
            
        </div>
    </div>
</main>

{{>public/partials/body-end}}