{{>public/partials/head}}
{{>public/partials/header}}

<main>
    <div class="spacing-top-article"></div>
    
    {{>public/partials/article}}

</main>



{{>public/partials/footer}}

{{>public/partials/body-end}}
