{{>public/partials/head}}
{{>public/partials/header}}
{{>public/partials/bg-circles}}
<!--==============HERO==============-->
<main>
    <div class="time-line  ">
        <h5 class="time-line-date "></h5>
        <div class="time-line-content ">
            <h3 class="color-gray-4">Congresso de</h3>
            <h1 class="color-primary mb-2">Iniciação Científica</h1>
            <h4 class="secondary">{{de 09.11.2022 a 11.11.2022}}</h4>
            <ul class="edition my-5">
                <li class="mb-1">
                    <p>
                        28º Congresso de Iniciação Científica <br>
                        da Universidade de Brasília
                    </p> 
                </li>
                <li>
                    <p>
                        19º Congresso de Iniciação Científica <br>
                        do Distrito Federal
                    </p>
                </li>
            </ul>
            <div class="btns">
                <a class="btn" href="/awards/2022">Premiações</a>
                <!--
                <a class="btn" href="/schedule/2022">Ver programação</a>
                -->
            </div>
        </div>
    </div>
</main>

<!--==============SECTION 1==============-->
<section class="time-line  ">
    <h5 class="time-line-date secondary">até 18.09.2022</h5>
    <div class="time-line-content pl-4 ">
        <h4 class="color-primary">Submissão de resumos e vídeo</h4>
        <p>
            Para participar como expositor no Congresso de IC, é necessário elaborar o resumo de sua pesquisa e gravar um vídeo de 5 min.
        </p>
        <div class="time-line-item">
            <div class="time-line-item-icon">
                <img src="/svg/icon-profile.svg"  alt="" onload="SVGInject(this)">
            </div>
            <div class="time-line-item-content">
                <h5 class="color-primary">Quem pode enviar resumo?</h5>
                <p>
                    Alunos de iniciação científica das instituições de ensino superior realizadoras do congresso.
                </p>
            </div>
        </div>
        <div class="time-line-item">
            <div class="time-line-item-icon">
                <img src="/svg/icon-play.svg"  alt="" onload="SVGInject(this)">
            </div>
            <div class="time-line-item-content">
                <h5 class="color-primary">Como gravar o vídeo?</h5>
                <p>
                    O vídeo de apresentação da pesquisa de IC deve ter no máximo 5 min e deverá ser postado no YouTube. Em seguida, deverá ser gerado um link público de compartilhamento. Esse link deverá ser informado no formulário de submissão do resumo.
                </p>
            </div>
        </div>
    </div>
</section>
<!--==============SECTION 2==============-->
<section class="time-line  ">
    <h5 class="time-line-date secondary">08.11.2022</h5>
    <div class="time-line-content pl-4 ">
        <h4 class="color-primary">Cerimônia de abertura</h4>
        <p>
            Participe da cerimônia de abertura do Congresso de Iniciação Científica.
        </p>
        <div class="time-line-item">
            <div class="time-line-item-icon">
                <img src="/svg/icon-map.svg" class = "circle-1" alt="" onload="SVGInject(this)">
            </div>
            <div class="time-line-item-content">
                <h5 class="color-primary">08.11.2022 às 15h</h5>
                <p>
                    CEUB - Auditório do Bloco 3 <br>
                    SEPN 707/907, Câmpus Asa Norte
                </p>
            </div>
        </div>
    </div>
</section>
<!--==============SECTION 3==============-->
<section class="time-line  ">
    <h5 class="time-line-date secondary">de 09.11.2022 a 11.11.2022</h5>
    <div class="time-line-content pl-4 ">
        <h4 class="color-primary">Exposição de banners</h4>
        <p>
            As pesquisas de Iniciação Científica serão apresentadas presencialmente de forma síncrona e pela internet de forma assíncrona.
        </p>
        <a href="/schedule/2022" class="btn-secondary mt-4">Ver programação</a>

        <div class="time-line-item">
            <div class="time-line-item-icon">
                <img src="/svg/icon-map.svg" class = "circle-1" alt="" onload="SVGInject(this)">
            </div>
            <div class="time-line-item-content">
                <h5 class="color-primary">Saúde e Vida - 09.11.2022</h5>
                <p>
                    Matutino - 8h às 12h <br>
                    Vespertino - 13h30 às 17h
                </p>
            </div>
        </div>

        <div class="time-line-item">
            <div class="time-line-item-icon">
                <img src="/svg/icon-map.svg" class = "circle-1" alt="" onload="SVGInject(this)">
            </div>
            <div class="time-line-item-content">
                <h5 class="color-primary">Artes e Humanidades - 10.11.2022 </h5>
                <p>
                    Matutino - 8h às 12h <br>
                    Vespertino - 13h30 às 17h
                </p>
            </div>
        </div>

        <div class="time-line-item">
            <div class="time-line-item-icon">
                <img src="/svg/icon-map.svg" class = "circle-1" alt="" onload="SVGInject(this)">
            </div>
            <div class="time-line-item-content">
                <h5 class="color-primary">Exatas e Tecnológicas - 11.11.2022 </h5>
                <p>
                    Matutino - 8h às 12h
                </p>
            </div>
        </div>
        
    </div>
</section>
<!--==============SECTION 4==============-->
<section class="time-line">
    <h5 class="time-line-date secondary">08.12.2022 às 15h</h5>
    <div class="time-line-content pl-4 ">
        <h4 class="color-primary">Cerimônia de encerramento</h4>
        <p>
            Participe da cerimônia de encerramento do Congresso de Iniciação Científica.
        </p>
        <div class="time-line-item">
            <div class="time-line-item-icon">
                <img src="/svg/icon-map.svg" class = "circle-1" alt="" onload="SVGInject(this)">
            </div>
            <div class="time-line-item-content">
                <h5 class="color-primary">08.12.2022 às 15h</h5>
                <p>
                    Auditório do IESB - Campus Edson Machado <br>
                    Asa Sul - SGAS Quadra 613/614 Lotes 97 e 98, L2 Sul, Brasília - DF
                </p>
            </div>
        </div>
    </div>
</section>
<!--==============SECTION 5==============-->
<section class="brands">
    <div class="container ">
        <h4 class="color-primary">INSTITUIÇÕES ORGANIZADORAS</h4>
    </div>
    <div class="brands-items">
        <div class="item">
            <img src="/svg/FAPDF - cor.svg" class = "circle-1" alt="" onload="SVGInject(this)">
        </div>
        <div class="item">
            <img src="/svg/CNPq - cor.svg" class = "circle-1" alt="" onload="SVGInject(this)">
        </div>
        <div class="item">
            <img src="/svg/IFG-AL-cor.svg" class = "circle-1" alt="" onload="SVGInject(this)">
        </div>
        <div class="item">
            <img src="/svg/IFB - cor.svg" class = "circle-1" alt="" onload="SVGInject(this)">
        </div>
        <div class="item">
            <img src="/svg/UnB - cor.svg" class = "circle-1" alt="" onload="SVGInject(this)">
        </div>
        <div class="item">
            <img src="/svg/UDF - cor.svg" class = "circle-1" alt="" onload="SVGInject(this)">
        </div>
        <div class="item">
            <img src="/svg/IESB - cor.svg" class = "circle-1" alt="" onload="SVGInject(this)">
        </div>
        <div class="item">
            <img src="/svg/CEUB cor.svg" class = "circle-1" alt="" onload="SVGInject(this)">
        </div>
        <div class="item">
            <img src="/svg/UCB - cor.svg" class = "circle-1" alt="" onload="SVGInject(this)">
        </div>
        <div class="item">
            <img src="/svg/ESCS - cor.svg" class = "circle-1" alt="" onload="SVGInject(this)">
        </div>
    </div>
</section>

{{>public/partials/footer}}

{{>public/partials/body-end}}
