{{>public/partials/head}}
{{>public/partials/bg-circles}}
<!--==============HERO==============-->
<main>
    <div class="time-line  " style="height: 100vh; padding-top:0; padding-bottom:0">
        <div class="time-line-content ">
            <h1 class="color-primary mb-2">Página em construção</h1>
            <ul class="edition my-5">
                <li class="mb-1">
                    <p>
                        Estamos trabalhando para que sua experiência fique completa na próxima visita!
                    </p> 
                </li>
                <li><p>Até breve!</p></li>
                
            </ul>
            
        </div>
    </div>
</main>


{{>public/partials/body-end}}
