{{>public/partials/head}}
{{>public/partials/bg-circles}}
<!--==============HERO==============-->
<main>
    <div class="time-line  " style="height: 100vh; padding-top:0; padding-bottom:0">
        <div class="time-line-content ">
            <h1 class="color-primary mb-2">Ops!!</h1>
            <ul class="edition my-5">
                <li class="mb-1">
                    <p>
                        Esta página é restrita.
                    </p> 
                </li>
                <li><p>Volte para a página anterior para continuar a navegação</p></li>
                
            </ul>
            
        </div>
    </div>
</main>


{{>public/partials/body-end}}
