{{>public/partials/head}}
{{>public/partials/bg-circles}}
    <main class="flex-center height-100vh">
        
        <div class="signin">
            <div class="header mb-4">
                <h3 class="color-gray-4">Congresso de</h3>
                <h1 class="color-primary ">Iniciação Científica</h1>
                <h5 class="secondary">SGCIC - v 2.0</h5>
            </div>
            {{#notify_success}}
            <div class="form-error">
                <p>{{notify_success}}</p>
            </div>
            {{/notify_success}} 
            {{#notify_error}}
            <div class="form-error">
                <p>{{notify_error}}</p>
            </div>
            {{/notify_error}}

            
            <form action="/resetPassword" id="form-reset" method="POST">
                <label id="cpf" for="">
                    <p>Digite seu CPF:</p>
                    <input 
                        type="number"
                        placeholder="Apenas números!" 
                        id="cpf" 
                        name="cpf"
                        value="{{values.cpf}}"
                        {{#formErrors.cpf.msg}}
                        class="input-error"
                        {{/formErrors.cpf.msg}}
                    >
                    {{#formErrors.cpf.msg}}
                    <p class="error-inline">{{formErrors.cpf.msg}}</p>
                    {{/formErrors.cpf.msg}}
                    
                </label>
                <label id="email" for="">
                    <p>Digite seu e-mail:</p>
                    <input 
                        type="email"
                        placeholder="seu@email.com" 
                        id="email" 
                        name="email"
                        value="{{values.email}}"
                        {{#formErrors.email.msg}}
                        class="input-error"
                        {{/formErrors.email.msg}}
                    >
                    {{#formErrors.email.msg}}
                    <p class="error-inline">{{formErrors.email.msg}}</p>
                    {{/formErrors.email.msg}}
                    
                </label>
                
                <div class="form-btns mt-1">
                    <a href="/signin" class="btn-secondary mr-2">Fazer Login</a>
                    <a href="#" class="btn " onclick="document.getElementById('form-reset').submit()">Resetar</a>
                </div>
            </form>
        </div>

        
    </main>


{{>public/partials/body-end}}