{{>private/partials/head}}
{{>private/partials/header}}
{{>private/partials/bg-circles}}
<!--==============HERO==============-->
<main>
    <div class="time-line  ">
        <h5 class="time-line-date "></h5>
        <div class="time-line-content ">
            <h3 class="color-gray-4">Congresso de</h3>
            <h1 class="color-primary mb-2">OIOIOI Iniciação Científica</h1>
            <h4 class="secondary">de 09.11.2022 a 11.11.2022</h4>
            <ul class="edition my-5">
                <li class="mb-1">
                    <p>
                        28º Congresso de Iniciação Científica <br>
                        da Universidade de Brasília
                    </p> 
                </li>
                <li>
                    <p>
                        19º Congresso de Iniciação Científica <br>
                        do Distrito Federal
                    </p>
                </li>
            </ul>
            <div class="btns">
                <a class="btn" href="/schedule/2022/1">Ver programação</a>
            </div>
        </div>
    </div>
</main>



{{>private/partials/body-end}}
